<div class="ui inverted segment">
<div class="ui inverted secondary menu">
  <a href= "http://localhost:3000/home/PAGE1" class="item">
    Page 1
  </a>
  <a href= "http://localhost:3000/home/PAGE2" class="item">
    Page 2
  </a>
  <a href="http://localhost:3000/home/PAGE3" class="item">
    Page 3
  </a>
  <a href= "http://localhost:3000/home/PAGE4"class="item">
    Page 4
  </a>
  <a href= "http://localhost:3000/home/PAGE5" class="item">
    Page 5
  </a>
  <a href= "http://localhost:3000/home/PAGE6" class="item">
    Page 6
  </a>
</div>